<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the CRUD Application</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .three-quarter-height {
            height: 75vh
        }
    </style>
</head>
<body>
    <nav th:replace="~{fragments :: nav}"></nav>
    <main>
        <div class="container">
            <div class="d-flex justify-content-center align-items-center three-quarter-height">
                <h1 class="text-center" th:text="'Welcome to the CRUD Application, ' + ${username} + '!'">Welcome to the CRUD Application, Username!</h1>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments :: footer}"></footer>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>